body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.component {
  width: 450px;
  margin: 25px auto;
}

div.section {
  margin-bottom: 25px;
}

textarea.content {
  width: 50%;
  height: 37px;
  resize: none;
}

div.inline {
  display: inline;
  vertical-align: top;
  margin-left: 5px;
}

.popup {
  background-color: white;
  z-index: 999;
  width: 350px;
  height: 365px;
  position: absolute;
  margin: 4px 41px;
  border-radius: 4%;
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  display: flex;
  padding: 10px;
}

.popupCloseButton {
  margin-left: auto;
  margin-top: auto;
  cursor: pointer;
}

.mt10 {
  margin-top: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mt25 {
  margin-top: 25px;
}

.ml25 {
  margin-left: 25px;
}

.mb25 {
  margin-bottom: 25px;
}

.mr25 {
  margin-right: 25px;
}

/* Progress Bar - Start */
.progress-div {
  background-color: rgb(233, 233, 233);
  border-radius: 0.4rem;
  width: 50%;
}

.progress {
  background: rgb(24, 204, 147);
  background: linear-gradient(
    90deg,
    rgba(24, 204, 147, 1) 0%,
    rgba(24, 204, 147, 0.6264880952380952) 52%,
    rgba(24, 204, 147, 0.4332107843137255) 100%
  );

  height: 10px;
  transition: 1s ease;
  transition-delay: 0.5s;
  border-radius: 0.4rem;
  margin: 0;
}

.progressComp h1 {
  font-size: 10px;
}

.percent-number {
  color: rgb(121, 121, 121);
}
/* Progress Bar - End */
